<% provide(:title, @user.name) %>
<h1><%= @user.name %>のタスク一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= Task.human_attribute_name :name %></th>
        <th><%= Task.human_attribute_name :created_at %></th>
      </tr>
    </thead>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name %></td>
        <td><%= l(task.created_at, format: :long) %></td>
        
        <td>
          <%= link_to "編集", edit_user_task_path(@user, task), class: "btn btn-success" %>
          <%= link_to "削除", user_task_path(@user, task), method: :delete,
          data: { confirm: "「#{task.name}」を削除します。よろしいですか？" }, class: "btn btn-danger" %>
        </td>
        
      </tr>
    <% end %>
  </table>
</div>


