<header class="navbar navbar-fixed-top navbar-inverse header-color">
  <div class="container">
    <%= link_to "Task App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "利用者一覧", '#' %></li>
          <li><%= link_to "タスク作成", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id: "dropdown-title">
             <%= @user.name %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">ユーザー</li>
              <li><a herf="/users/1">プロフィール</li>
              <li><%= link_to "設定", '#' %></li>
              <li class="dropdown-header">タスク</li>
              <li><a herf="/users/1/tasks">タスク一覧</a></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
